body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 24px;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: block;
}

body::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

body::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

a {
    text-decoration: none;
}

.content-wrapper {
    max-width: 1200px;
    margin: auto;
    margin-top: 5%;
    animation: appear 1s;
    padding: 1em;
}

footer {
    display: block;
    width: 100%;
    font-family: "Spartan", sans-serif;
    font-size: 1rem;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 5em;
}

@media (max-width: 750px) {
    .content-wrapper {
        padding: 1em;
    }
    footer {
        padding: 0;
        padding-bottom: 2em;
    }
}